body {
   margin: 0;
   padding: 0;
   line-height: 180%;
   font-family: 'Niramit', sans-serif;

}
.clear {
    clear: both;
}

/* navbar */
.navbar {
    max-width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 20px;
    overflow: hidden;
    background: #fdf2f7;
}
.navbar-left {
    float: left;
    padding: 20px;
}
.navbar-right {
    float: right;
}
.navbar-right li {
    list-style-type: none;
    margin: 0 10px;
    padding: 0;
    display: inline-block;
}

/* jumbotron */
.jumbotron {
    margin: 0;
    padding: 250px 0;
    max-width: 100%;
    text-align: center;
    font-family: 'Lemonada', cursive;
    background: linear-gradient(
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.4)
        ), url(../images/cl.jpg)center center/ cover no-repeat; 
}
h1 {
    font-size: 6vw;
    font-family: 'Lemonada', cursive;
}
h2 {
    font-size: 3.5vw;
}
a {
    color: black;
    font-size: 2vw;
}

/* about me */
img {
    width: 200px;
    float: left;
    margin: 0 20px;
    border-radius: 10px;
}
.about {
    margin: 20px;    
}
.about-me {
    text-align: justify;
    margin: 0 20px;
}
.container{
    width: 100%;
    /* background: #fdf2f7; */
    overflow: hidden;
}
.row-about {
    font-size: 20px;
    max-width: 1000px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 980px){
    h1 {
        color: green;
        font-size: 7vw;
    }
    h2 {
        font-size: 4vw;
    }
    a {
        font-size: 3vw;
    }
    /* about me */
}

@media screen and (max-width: 768px){
    .navbar {
       font-size: 18px;
    }
    .navbar-left {
        padding-left: 12px;
    }
    .navbar-right i {
        display: none;
    }
    h1 {
        color: red;
        font-size: 7.5vw;
    }
    h2 {
        font-size: 4.5vw;
    }
    a {
        font-size: 3.5vw;
    }
    /* about me */
}

@media screen and (max-width: 640px){
    .navbar-left {
        padding-left: 8px;
    }
    .navbar-right li {
        margin: 0 8px;
    }
    h1 {
        color: blue;
        font-size: 8vw;
    }
    h2 {
        font-size: 5.5vw;
    }
    a {
        font-size: 4vw;
    }
    /* about me */
    img {
        width: 100%;
        margin: 0;
    }
    .about {
        margin-left: 0;
    }
    .about-me {
        width: 100%;
        margin: 0;
    }
    .row-about {
        width: 85%;
    }
}