body {
    margin: 0;
    padding: 0;
    line-height: 180%;
    font-family: 'Niramit', sans-serif;
    position: relative;
}
.clear {
    clear: both; 
}
 
/* navbar */
.navbar {
    max-width: 100%;
    border-top: 1px solid rgb(32, 1, 49);
    border-bottom: 1px solid rgb(32, 1, 49);
    font-size: 20px;
    overflow: hidden;
    background: white;
    position: fixed;
    transition: top 0.3s;
    top: -100px;
    left: 0;
    right: 0;
    /* make the navbar covers everything */
    z-index: 1;

}
.navbar-left {
    float: left;
    padding: 20px;
}
.navbar-right {
    float: right;
}
.navbar-right li {
    list-style-type: none;
    margin-right: 20px;
    padding: 0;
    display: inline-block;
}
.box {
    background: #fffffff0;
    max-width: 850px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 10px;
    color: rgb(32, 1, 49);
}
 
/* jumbotron */
.jumbotron {
    margin: 0;
    padding: 300px 0;
    max-width: 100%;
    text-align: center;
    font-family: 'Lemonada', cursive;
    background: url(../images/wb.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.my-name {
    font-size: 6vw;
    font-family: 'Lemonada', cursive;
    margin-top: 60px;
    margin-bottom: 60px;
}
.my-job {
    font-size: 3.5vw;
    margin-top: 60px;
    margin-bottom: 40px;
}
.icon {
    color: rgb(32, 1, 49);
    font-size: 2vw;
    margin-bottom: 30px;
}
.icon:hover, .project-text a:hover {
    color: #007bff;
}

/* about me */
.about-text{
    text-align: left;
    margin: 20px;    
}
.about-me {
    text-align: justify;
    padding: 15px;
    margin: 0 20px;
    float: left;
    width: 67.5%;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container-1, .container-2, .container-3{
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.my-photo {
    width: 200px;
    float: left;
    margin: 0 20px 10px;
    border-radius: 10px;
}
.row-about, .row-download {
    font-size: 20px;
    max-width: 1000px;
    overflow: hidden;
    width: 100%;
    margin: 60px auto 10px;
}

/* skills */
.row-skills{
    font-size: 20px;
    max-width: 1000px;
    overflow: hidden;
    width: 100%;
    margin: 10px auto 10px;
    text-align: center;
}
.fa-cogs {
    font-size: 30px; 
}

.skills {
    float: left;
    max-width: 100%;
    width: 20%;
    margin: 23.1px;
    padding-bottom: 30px;
}
.skills i {
    font-size: 70px;
    color: rgb(63, 62, 62);
}
.skills img {
    width: 65px;
}

.tooltip {
    position: relative;
    display: inline-block;
}
.tooltiptext {
    font-family: 'Niramit', sans-serif;
    font-size: 20px;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background: white;
    border: 1px solid black;
    color:black;
    text-align: center;
    border-radius: 5px;
    padding:5px;
    top: 100%;
    left: 50%;
    margin-left:-60px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
#long-text {
    width: 180px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
#mysql {
    max-width: 100px;
    width: 100%;
    opacity: 0.9;
}

/* project */
.row-projects {
    font-size: 20px;
    max-width: 1200px;
    overflow: hidden;
    width: 100%;
    margin:60px auto;
}
.h2-project {
    text-align: center;
    margin-bottom: 50px;
}
.project-images {
    max-width: 400px;
    width: 100%;
    border: 1px solid gainsboro;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.project-1, .project-3, .project-5 {
    float: left;
    width: 50%;
    margin: 50px auto;
    padding: 0;
    text-align: center;
    height: 600px;
    overflow: hidden;
    /* border: 1px solid brown; */
} 
.project-2, .project-4, .project-6 {
    float: right;
    width: 45%;
    margin: 50px auto;
    padding: 0;
    text-align: center;
    height: 600px;
    overflow: hidden;
    /* border: 1px solid brown; */
} 
.project-text {
    max-width: 400px;
    width: 100%;
    margin: 10px auto 0;
}
.project-text a {
    text-decoration: none;
    color: black;
}
.project-text p {
    text-align: justify;
    border: 1px solid black;
    padding: 10px 20px;
}
 
/* contact */
.row-contact {
    font-size: 20px;
    max-width: 1000px;
    overflow: hidden;
    width: 100%;
    margin: 60px auto;
}
input, textarea {
    max-width: 450px;
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 17px;
    padding: 3px;
    border-bottom: 1px solid black;
    line-height:1.5;
}
textarea {
    height: 100px;
    resize: none;
    margin-top: 10px;
}
button {
    font-family: 'Niramit', sans-serif;
    font-size: 17px;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container-3 {
    background: url(../images/cp.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
}
.contact-form{
   margin-top: 5px;
   margin-bottom: 10px;
   padding-left: 15px;
}
.visitor {
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px;
    max-width: 465px;
    width: 100%;
    background: #fffffff0;
    border: 1px solid black;
    border-radius: 5px;
}
.your-name, .your-email, .your-message {
    padding: 15px;
    background: white;
}

.download {
    margin-left: 20px;    
}
.download a {
    text-decoration: none;
    color: black;
}
.error {
    font-size: 16px;
    color: red;
}

/* footer */
.footer {
    border-top: 1px solid rgb(32, 1, 49);
    border-bottom: 1px solid rgb(32, 1, 49);
    text-align: center;
    font-size: 17px;
    padding: 15px;
    background: white;
}
.footer p {
    margin: 0;
}

@media screen and (max-width: 980px){
    .my-name {
        font-size: 8vw;
    }
    .my-job {
        font-size: 5vw;
    }
    .icon {
        font-size: 3.5vw;
    }
    /* about me */
    .about-me{
        width: 60%;
        margin-left: 10px;
        margin-right: 10px;
    }
    /* skills */
    .skills {
        max-width: 100%;
        width: 20%;
        margin: 17.5px;
    }
    /* project */
    .row-projects {
        width: 98%;
    }
    .project-1, .project-2, .project-3, .project-4, .project-5, .project-6 {
        width: 49%;
    }
    .project-text, .project-images {
        width: 90%;
    }
    /* contact */
    .row-contact {
        width: 95%;
    }
 }
 
 @media screen and (max-width: 768px){
    .navbar {
        font-size: 18px;
    }
    .navbar-right i {
        display: none;
    }
    .my-name {
        font-size: 9vw;
    }
    .my-job {
        font-size: 5.5vw;
    }
    .icon {
        font-size: 4vw;
    }
    /* about me */
    .about-text {
        margin-left: 15px;        
    }
    .about-me{
        width: 56%;
    }
    .my-photo {
        margin-left: 15px;
        margin-right: 5px;
    }
    /* skills */
    .skills {
        max-width: 100%;
        width: 20%;
        margin: 14px;
    }
    /* project */
    .project-1, .project-2, .project-3, .project-4, .project-5, .project-6 {
        width: 48%;
        margin: 40px auto;
    }
 }
 
 @media screen and (max-width: 640px){
    .navbar-left {
        padding-left: 10px;
    }
    .navbar-right li {
        margin-right: 10px;
    }
    .my-name {
        font-size: 10.5vw;
    }
    .my-job {
        font-size: 7vw;
    }
    .icon {
        font-size: 5vw;
    }
    /* about me */
    .my-photo {
        width: 100%;
        margin: 0;
    }
    .about-text {
        margin-left: 0;
    }
    .about-me {
        width: 86%;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .row-about, .row-skills{
        width: 85%;
    }
    .skills {
        width: 92%;
    }
    /* project */
    .row-projects {
        width: 99%;
    }
    .project-1, .project-2, .project-3, .project-4, .project-5, .project-6 {
        width: 100%;
        margin: 0 auto;
    }
    .project-text, .project-images {
        margin: 0 auto;
    }
    .project-images {
        margin-bottom: 20px;
    }
    .order { display: flex; flex-flow: column; }
        .project-images { order: 1; }
        .project-text { order: 2;  
    }
    
    /* contact */
    input, textarea{
        width: 100%;
    }
    .visitor {
        width: 84%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .download {
        margin-left: 15px;    
    }
 }